<h1>Please sign up</h1>

<form action="/users" method="POST">
  <input type="text" name="email" placeholder="TYPE EMAIL HERE"/>
  <input type="password" name="password" placeholder="TYPE PASSWORD HERE"/>
  <input type="password" name="password_confirmation" placeholder="TYPE PASSWORD HERE"/>
  <input type="submit" value="Submit"/>
</form>
