<form action="/users" method="POST">
  <input type="text" name="email" placeholder="TYPE EMAIL HERE"/>
  <input type="text" name="password" placeholder="TYPE PASSWORD HERE"/>
  <input type="submit" value="Submit"/>
</form>
