<form action='/token' method='post'>
<label for='token'>
  Token:
  <input type='text' name='token' required>
</label>
<label for="New Password">
  New Password:
  <input type='password' name='new_password' required>
</label>
  <input type='submit' value='Change Password'>
</form>
