<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark Manager</title>
  </head>

  <body>
    <% if current_user %>
      Welcome, <%= current_user.email %>
      <a href='/sign_out'>Sign out</a>
    <% end %>
    <%= flash[:message] %>
    <%= yield %>
  </body>
</html>
